@model ComputerStoreFinal.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}

<style>
    table {border: 1px black solid ; width: 80% ; max-width:600px;}
    th{background-color:black; color:white; }
    td,th{padding:5px; text-align:right; }
</style>

<h3><em>Review</em>your cart:</h3>
<p><a></a></p>
