body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-left: 180px;
    padding-left:15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#sidebar {
    float:left;
    width:180px;
    padding:10px;
    position:fixed;
    margin-left:0px;
    min-width:180px;
    border-right:solid;
    border-bottom:solid;
    border-left:none;
    border-top:none;
    border-width:.5px;
    border-color:#000000;
}
#sidebar ul, li{
    list-style-type:none;
    padding-left:5px;
    padding-bottom:4px;
}

.well-sm {
    background-color:#808080;
}



@media only screen and (max-width: 768px) {
    #sidebar {
        width:120px;
        min-width:120px;
    }
    .body-content{
        margin-left:120px;
    }
    .footer {
        width:90%;
        height:30px;
    }
}

@media only screen and (max-width: 480px) {
    #sidebar {
        display:none;
    }
    .body-content{
        margin-left:15px;
    }
    .footer {
        width:100%;
        height:50px;
        padding-left:10px;
        padding-right:10px;
        position:fixed;
        left:0;
        bottom:0;
        background:#ffffff;
    }
}



//dsafdsafd