@{
    ViewBag.Title = "What is Banana Comptuer Store?";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<br />

<center><img src="~/Content/Images/Office%20building.jpg" /></center><br />

<div>
    <h3>Who we are:</h3>
<p>    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eros tellus, mollis quis aliquam at, sollicitudin in neque. Nullam vestibulum sodales orci, non dapibus sem gravida at. Quisque in neque at eros lacinia bibendum vitae nec erat. Vivamus interdum velit mattis gravida semper. Nunc fermentum fringilla risus, vitae rutrum ex pulvinar nec. Sed libero ipsum, feugiat et eleifend non, feugiat sit amet sem. Vestibulum ac enim turpis. Aliquam tincidunt eget metus id scelerisque. Donec finibus, nulla a rhoncus bibendum, augue mauris sodales elit, nec vehicula nisi mi vel sem. Vivamus varius ligula tellus, ac viverra libero commodo sed.

    Nulla tristique feugiat faucibus. Proin consectetur a tortor sed ornare. Nunc dictum nisi vel egestas lobortis. Duis vel elit cursus ligula ultricies gravida eu nec ligula. Maecenas at felis at odio facilisis eleifend nec quis arcu. Mauris tempus ac odio sit amet pretium. Integer a nisl lobortis, rhoncus felis eu, lobortis tortor. Vivamus non velit in sem maximus gravida ut sed tellus. Etiam quam tellus, feugiat a lobortis at, cursus blandit libero. Fusce in efficitur nisi. Praesent nunc justo, porta non ultricies elementum, maximus at risus. Nunc sapien dolor, iaculis non condimentum in, viverra a turpis. Praesent pellentesque risus eros, nec luctus felis mattis at. Aenean ullamcorper leo vel odio tempus, vehicula consectetur magna convallis. Phasellus feugiat dolor sem, et ultrices purus tempor eu. Integer euismod dictum quam, ac lacinia magna fermentum sed. </p>

</div>

<div>
    <h3>Our Name:</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sagittis est ut enim auctor, in aliquet dolor tristique. Praesent molestie vel neque nec gravida. Nam maximus diam ut mauris accumsan eleifend. Aliquam non augue sed dolor ultrices viverra at in augue. Vivamus tincidunt neque eu molestie pharetra. Pellentesque dignissim odio massa, quis eleifend nibh accumsan ac. In aliquam nunc ornare tristique pharetra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse quis sem urna. </p>
</div>
