@{
    ViewBag.Title = "Contact Bananas Computer Store";
}
<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>
<br />

<div class="row">
    <div class="col-sm-6">
        <p>Telephone: <br />
            <a href="tel:2624549787" style="margin-left:30px;">(262) 454- 9787</a>
        </p>
        <p>Fax: <br />
            <a href="tel:09870981902" style="margin-left:30px;">0987-098-1902</a>
        </p>
        <p>Email: <br />
            <a href="mailto:support.bananascomputerstore.com" style="margin-left:30px;">support.bananascomputerstore.com</a>
        </p>
        <p>Mailing address:</p>
        <a href="https://maps.google.com?daddr=5000+West+Chandler+Blvd+Chandler+AZ+85226">
            <address style="margin-left:30px;">
                Banana Computers Store<br />
                5000 W Chandler Blvd<br />
                Chandler, AZ 85226<br />
            </address>
        </a>
        <p>**For returns use "Banana Computers Returns Dept" with the above address</p>
    </div>
    <div class="col-sm-6">
        <p>Directions to Corporate Office:</p>
        <a href="https://maps.google.com?daddr=5000+West+Chandler+Blvd+Chandler+AZ+85226">
            <img style="border:1px solid" src="http://maps.googleapis.com/maps/api/staticmap?center=5000+W+Chandler+Blvd+Chandler,+AZ+85226&zoom=13&scale=false&size=250x250&maptype=roadmap&sensor=false&format=png&visual_refresh=true&markers=size:mid%7Ccolor:red%7C5000+W+Chandler+Blvd+Chandler,+AZ+85226" alt="Google Map of 5000 W Chandler Blvd Chandler, AZ 85226">
        </a>

        <div>
            <h3>Office Hours of Operation:</h3>
            <p><strong>Monday through Friday:</strong> 9:00am - 5:00pm</p>
            <p><strong>Saturday and Sunday:</strong> Closed</p>
        </div>
    </div>
</div>
