@{
    ViewBag.Title = "Contact Banana's computer store";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<br />


<p>By Telephone: (262) 454- 9787</p>
<br />
<p>By Email: <a>support.bananascomputerstore.com</a></p>
<br />
<p>By Fax: <a>0987-098-1902</a></p>
<br />
<p>By Mail:</p>
<address>
    Banana Computers Store<br />
    Redmond, WA 98052-6399<br />
    
</address>

<div align="right">
    <h3>Office Opening Hours:</h3>
    <p>Monday to Friday: 9am to 5pm</p><br />
    <p>Saturday and Sunday: Closed</p>
</div>

