@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Bananas Computer Store</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="text-align:center;">Shop our Inventory!</h2><br />
        <p style="text-align:center;"><a class="btn btn-md btn-primary" href="~/Shop/">Pre-built units &raquo;</a><br /><br /><a class="btn btn-md btn-primary" href="~/Shop/">Build your own! &raquo;</a></p>
    </div>
    <div class="col-md-4 pull-right" style="text-align:right;">
        <h2>About Us</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default pull-right" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>